html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0;
  font-family: Lato, sans-serif;
  color: #222;
  font-size: 0.9rem;
}
main {
  flex: 1 0 auto;
  display: flex;
} 

aside {
  flex: 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #dad9d9;
} 
aside i.la {
    font-size: 1.4em;
    font-weight: bold;
}
.head {
  flex: 0 0 280px;
  display: flex;
  padding: 30px;
  background-color: #2e2d2d;
}
.content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
footer {
  flex: 0 0 90px;
  color: #fff; 
  background-color: rgba(40, 88, 159, 0.9);
  display: flex;
  padding: 10px;
}

li {
  display: flex;
  padding: 0 20px;
  min-height: 50px;
}

li p {
  flex: 0 0 25%;
}

li span.cloud-sync {
  border: 1px solid black;
  font-size: 0.6em;
  padding: 3px;
}

li:nth-child(2n) {
  background-color: #f2f2f2;
}

.music-head {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #fff;
  padding-left: 50px;
}

.footer-music {
  display: flex;
  margin-right: auto;
}

.music-controls {
  display: flex;
  flex-basis: 50%;
  justify-content: space-around;
  align-items: center;
}

.music-controls i {
  font-size: 1.5em;
}
