body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main h2{
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main:hover #red {
  transform: rotate(90deg);
}
#main:hover #yellow {
  transform: rotate(-0.25turn);;
}
#main:hover #green {
  transform: rotate(90deg);
}
#main:hover #blue {
  transform: rotate(-0.25turn);
}
#red {
  width: 100px;
  height: 100px;
  background-color: red;
  transition: transform 1s ;
  transform-origin: top left;
  transform-style: preserve-3D;
}

#yellow {
  width: 100px;
  height: 100px;
  background-color: yellow;
  transition: transform 1s ;
  transform-origin: top right;
  transform-style: preserve-3D;
}

#green {
  width: 100px;
  height: 100px;
  background-color: green;
  transition: transform 1s ;
  transform-origin: right bottom;
  transform-style: preserve-3D;
}

#blue {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: transform 1s ;
  transform-origin: bottom left;
  transform-style: preserve-3D;
}

.row {
  display: flex;
}